<form>
    <div class="input-group">
        <label for=" initial-investment">Initial Investment:
            <input type="number" id="initial-investment">

        </label>
        <label for="monthly-contribution">Monthly Contribution:
            <input type="number" id="monthly-contribution">
        </label>
    </div>
    <div class="input-group">
        <label for="interest-rate">Annual Interest Rate:
            <input type="number" id="interest-rate">
        </label>

        <label for="years">Number of Years:
            <input type="number" id="years">
        </label>
    </div>

    <button type="submit">Calculate</button>
</form>